@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #12323A;
}
h1 {
  color: white;
}

.navbar {
  background-color: #12323A;
  display: flex;
  justify-content: space-between;
}
.navdropdown {
  color: white;
}
.activityCarouselContainer {
  display: flex;
  justify-content: center;
}
.lessonCarouselContainer {
  display: flex;
  justify-content: center;
}
.userProfileContainer {
  display: flex;
  padding-right: 20px;
}
.lessonCard {
  display: flex;
  flex-direction: column;
}
.logoContainer {
  padding-left: 20px;
}
.redBtn {
  background-color: #FF5A5F; 
  color: white;
  border: none;
}
.dropdownBtn {
  background-color: #0C91BF;
}
